* {
	margin: 0;
	padding: 0;
}

body {
	font-family: courier new;
	font-size: 20px;
	overflow: hidden;
	color: #fff;
	background-color: #000;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}